.env
/vendor/
composer.phar
composer.lock
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
public/uploads

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

Homestead.yaml
Homestead.json

/.idea
/.vscode
/.vagrant
/phpunit.xml
storage/*.key
/nbproject/private/

Thumbs.db
.DS_Store
.phpunit.result.cache
